img{
    width:350px;
    height:300px;
    background-color:black;
    border: 10px dotted blue;
    border-radius: 90px 0 0 90px;
    
}
p{
    /* width:100px; */
    border:1px solid red;
    margin-left:100px;
    margin-right:100px;
    margin:0  100px;
}