{
    margin:0;
    padding:0;
}
body{
    background-image:url("images/bm3.jpg");
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:cover;
    min-height:50vh;
    align-items:center;
    justify-content: center;
    display:flex;
}
.header img{
    width:130px;
    height:130px;
    border-radius:50%;
    object-fit:cover;
    object-position:0 -8px
}
.main{
    background-color:rgba(0,0,0,0.7);
    color:white;
    text-align:center;
    border-radius:20px;
    width:30%;
    height:6vh;
    
}